.how {
	@include adaptiveValue('padding-top', 220, 50);
	@include adaptiveValue('padding-bottom', 220, 50);
	// .how__title
	&__title {
		@include adaptiveValue('margin-bottom', 32, 20);
		@media (max-width: $mobile) {
			text-align: center;
		}
	}
	// .how__text
	&__text {
		@include adaptiveValue('margin-bottom', 48, 25);
		@media (max-width: $mobile) {
			text-align: center;
		}
	}
	// .how__container-big
	&__container-big {
	}
	// .how__container
	&__container {
		@media (min-width: $mobile) {
			display: flex;
			justify-content: space-between;
		}
	}
	// .how__content
	&__content {
		flex: 1 1 50%;
		@include adaptiveValue('padding-right', 96, 10, 1920, 768, 2);
	}
	// .how__steps
	&__steps {
		@include adaptiveValue('margin-bottom', 70, 30, 768, 320, 1);
	}
	// .how__image-block
	&__image-block {
		// top: 0;
		// right: 0;
		// z-index: 1;
		// .block-image::before
		&::before {
			transform: translate(calc(50% - rem(17)), -25%);
		}
		// .block-image::after
		&::after {
			transform: translate(calc(50% - rem(17)), -15%);
		}
		@media (max-width: $mobile) {
			width: 90%;
			margin: 0 auto;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
		@media (min-width: $mobile) {
			flex: 0 0 53%;
		}
		@media (min-width: $mobile) and (max-width: $tablet) {
			align-items: flex-start;
		}
	}
}

.steps-how {
	// .steps-how__cart
	&__cart {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue('column-gap', 32, 15);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 48, 30);
		}
		max-width: rem(510);
		@media (max-width: $mobile) {
			align-items: flex-start;
			justify-content: center;
			margin: 0 auto;
		}
	}
	// .steps-how__logo
	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(5);
		flex-grow: 0;
		flex-shrink: 0;
		@include adaptiveValue('flex-basis', 100, 70);
		@include adaptiveValue('height', 100, 70);
		border-radius: 50%;
		background: rgba(0, 128, 0, 0.1);
	}
	// .steps-how__image-logo
	&__image-logo {
		max-width: 100%;
	}
	// .steps-how__content
	&__content {
		align-self: stretch;
		flex: 0 1 rem(345);
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
	}
	// .steps-how__title
	&__title {
		flex: 1 1 auto;
		font-weight: 700;
		font-size: 20px;
		line-height: 22px;
	}
	// .steps-how__text
	&__text {
	}
}
