//<FORM>
// Снипет (HTML):
.form {
	display: flex;
	column-gap: rem(6);
	padding: rem(6);
	width: 100%;
	max-width: rem(533);
	position: relative;
	z-index: 1;
	background: $mainColor;
	border-radius: rem(10);
	@media (min-width: em(400)) {
		max-height: rem(76);
	}
	@media (max-width: em(400)) {
		max-height: 100%;
	}
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
		padding: 0 rem(10);
		flex: 1 1 auto;
		border-radius: rem(10);
		font-weight: 500;
		line-height: 20px;
		line-height: math.div(18, 20);
		color: $ColorDarkGray;
		// form__input_footer
		&_footer {
		}
		&:focus {
			outline: 1px solid $colorGreen;
		}
		&._form-error,
		&._form-error::placeholder {
			color: red;
		}
		@media (max-width: em(400)) {
			padding: rem(10);
			&::placeholder {
				text-align: center;
			}
		}
	}
	&__button {
	}
	&__error {
		margin-top: rem(10);
		padding-left: rem(16);
		position: absolute;
		top: 100%;
		left: 0;
		font-size: rem(16);
		color: red;
	}
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import 'button';

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";
