// Заголовки, общие БЄМ блоки и прочее...
.heading {
	// .heading_center
	&_center {
		text-align: center;
	}
	@media (max-width: $mobile) {
		text-align: center;
	}
	// .heading__title
	&__title {
		@include adaptiveValue('margin-bottom', 32, 20);
	}
	// .heading__text
	&__text {
	}
}

.title {
	font-weight: 700;
	@include adaptiveValue('font-size', 80, 40);
	line-height: math.div(70, 78);
	// .title_general
	&_general {
	}
	// .title_section
	&_section {
		text-align: center;
	}
	// .title_block
	&_block {
	}
	// .title__mark
	&__mark {
		color: $colorGreen;
	}
}

.text {
	line-height: 180%;
	// .text_section
	&_section {
		margin: 0 auto;
		max-width: rem(565);
	}
	// .text_mark
	&_mark {
	}
}

.block-image {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50%;
	@include adaptiveValue('padding-top', 45, 10);
	@include adaptiveValue('padding-bottom', 45, 10);
	@include adaptiveValue('padding-right', 45, 10);
	@include adaptiveValue('padding-left', 45, 10);
	position: relative;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 20px;
	overflow: hidden;
	// .block-image_stretch
	&_stretch {
		padding: 0;
	}
	// .block-image__circle
	&__circle {
		position: absolute;
		width: 100%;
		height: 100%;
		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			border: 1px solid $mainColor;
			border-radius: 50%;
		}
		// .block-image__circle_right-1 and .block-image__circle_right-2
		&_right-1,
		&_right-2 {
			&::before {
				@include adaptiveValue('width', 585, 250);
				@include adaptiveValue('height', 585, 250);
				top: 0;
				right: 0;
			}
		}
		// .block-image__circle_right-1
		&_right-1 {
			&::before {
				transform: translate(calc(50% - rem(17)), -25%);
			}
		}
		// .block-image__circle_right-2
		&_right-2 {
			&::before {
				transform: translate(calc(50% - rem(17)), -15%);
			}
		}
		// .block-image__circle_left-1 and .block-image__circle_left-2
		&_left-1,
		&_left-2 {
			&::before {
				@include adaptiveValue('width', 640, 300);
				@include adaptiveValue('height', 640, 300);
				bottom: 0;
				left: 0;
			}
		}
		// .block-image__circle_left-1
		&_left-1 {
			&::before {
				transform: translate(-40%, 35%);
			}
		}
		// .block-image__circle_left-2
		&_left-2 {
			&::before {
				transform: translate(-43%, 25%);
			}
		}
		// .block-image__circle_center-1 and .block-image__circle_center-2
		&_center-1,
		&_center-2 {
			display: flex;
			align-items: center;
			justify-content: center;
			&::before {
				@include adaptiveValue('width', 640, 400);
				@include adaptiveValue('height', 640, 400);
			}
		}
		// .block-image__circle_center-1
		&_center-1 {
			&::before {
				transform: translate(0, -5%);
			}
		}
		// .block-image__circle_left-2
		&_center-2 {
			&::before {
				transform: translate(0, 15%);
			}
		}
	}
	// .block-image__image-wrap
	&__image-wrap {
		flex: 0 1 100%;
		position: relative;
		z-index: 2;
	}
	// .block-image__image-wrap-ibg
	&__image-wrap-ibg {
		padding-bottom: math.div(604, 650) * 100%;
		// .block-image__image-wrap-ibg_stretch
		&_stretch {
			padding: 0;
			width: 100%;
			height: 100%;
			@media (max-width: $mobile) {
				padding-bottom: math.div(604, 650) * 100%;
			}
		}
	}
	// .block-image__image
	&__image {
		width: 100%;
		border-radius: 20px;
	}
}
