.header {
	@include adaptiveValue('padding-top', 60, 20);
	@include adaptiveValue('padding-bottom', 60, 20);
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	transition: all 0.2s ease 0s;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}
	@media (max-width: $tablet) {
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			background: darken($ColorDarkGray, 10%);
			opacity: 0;
			transform: translate(0, -30%);
			transition: all 0.3s ease 0.1s;
			.menu-open & {
				opacity: 1;
				transform: translate(0, 0);
				transition-delay: 0s;
			}
		}
	}
	&._header-scroll {
		padding: rem(5) rem(0);
		border-bottom: 1px solid $mainColor;
		box-shadow: 0 0 5px 0 $mainColor;
		&::before {
			background: #000;
			opacity: 0.9;
			transform: translate(0, 0);
		}
	}
	// .header__container-big
	&__container-big {
		display: flex;
		align-items: center;
	}
	// .header__wrapper-logo
	&__wrapper-logo {
		@include adaptiveValue('max-width', 310, 270, 1920, 992, 1);
		position: relative;
		z-index: 11;
		@media (min-width: $tablet) {
			flex: 1 1 auto;
		}
	}
	// .header__logo
	&__logo {
		font-family: 'Lato';
		font-weight: 500;
		@include adaptiveValue('font-size', 36, 30);
		line-height: math.div(36, 43);
	}
	// .header__menu
	&__menu {
		padding: 0 rem(10);
		flex: 1 1 auto;
	}
	// .header__actions
	&__actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include adaptiveValue('column-gap', 16, 7, 1920, 998, 1);
		flex: 1 1 rem(300);
		@include adaptiveValue('max-width', 310, 270, 1920, 998, 1);
		position: relative;
		z-index: 11;
		@media (max-width: $tablet) {
			flex: 0 1 auto;
			margin-right: rem(20);
		}
	}
	// .header__button
	&__button {
	}
}

.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		position: relative;
		z-index: 11;
		@media (max-width: $tablet) {
			width: 100%;
			height: 120%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 9;
			transform: translate(0, -120%);
			transition: all 0.3s ease 0s;
			background: lighten($ColorDarkGray, 10%);
			overflow: auto;
			.menu-open & {
				transform: translate(0, 0);
				// transition-delay: 0.5s;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		@media (max-width: $tablet) {
			@include adaptiveValue('padding-top', 250, 100);
			flex-direction: column;
			align-items: center;
			@include adaptiveValue('row-gap', 40, 20);
		}
		@media (min-width: $tablet) {
			align-items: center;
			justify-content: center;
			@include adaptiveValue('column-gap', 44, 10);
			row-gap: rem(10);
			flex-wrap: wrap;
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		font-family: 'Lato';
		font-weight: 400;
		// font-size: 18px;
		line-height: math.div(18, 22);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $colorGreen;
			}
		}
	}
	@media (max-width: $tablet) {
		@include adaptiveValue('font-size', 40, 30, 992, 320, 1);
	}
}

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		z-index: 11;
		flex: 0 0 rem(36);
		height: rem(21.6);
		cursor: pointer;
		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
