.why {
	@include adaptiveValue('padding-top', 100, 25);
	@include adaptiveValue('padding-bottom', 100, 25);
	// .why__container-big
	&__container-big {
	}
	// .why__container
	&__container {
		@media (min-width: $mobile) {
			display: flex;
			justify-content: space-between;
		}
	}
	// .why__content
	&__content {
		@include adaptiveValue('padding-right', 177, 50, 1920, 768);
		@media (max-width: $mobile) {
			margin-bottom: rem(30);
		}
	}
	// .why__steps
	&__steps {
	}
	// .why__heading
	&__heading {
		@include adaptiveValue('margin-bottom', 48, 35);
	}
	// .why__image-block
	&__image-block {
		// padding: 0;
		// width: 100%;
		// height: 100%;
	}
}

.steps-why {
	// .steps-why__list
	&__list {
		counter-reset: item;
		@media (max-width: $mobile) {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
		}
	}
	// .steps-why__item
	&__item {
		display: flex;
		align-items: center;
		@include adaptiveValue('margin-bottom', 48, 30);
		&::before {
			content: '';
			content: counter(item) '';
			counter-increment: item;
			display: flex;
			align-items: center;
			justify-content: center;
			@include adaptiveValue('margin-right', 50, 25);
			padding: 0;
			padding-top: 1%;
			flex-grow: 0;
			flex-shrink: 0;
			@include adaptiveValue('flex-basis', 64, 50);
			@include adaptiveValue('height', 64, 50);
			background: rgba(255, 255, 255, 0.05);
			border-radius: 50%;
			font-weight: 700;
			@include adaptiveValue('font-size', 36, 26);
		}
		@media (max-width: $mobile) {
			flex: 0 0 50%;
			padding: 0 rem(25);
		}
		@media (max-width: em(550)) {
			flex: 0 0 100%;
			padding: 0 rem(10);
		}
	}
	// .steps-why__button
	&__button {
		padding: rem(13) rem(55);
		@media (max-width: $mobileSmall) {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
	}
}
